#contact{
    margin-top: 100px;
}
.contact-title{
    display: block;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title > h2{
    font-size: 30px;
    display: block;
    text-align: center;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    text-align: center;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background: #f44336;
    cursor: pointer;
}
@media screen and (max-width: 900px){
    form{
        width: 100%;
    }
    .form-control{
        width: 100%;

    }
    body{
        padding: 0px 1.5rem 0px 1.5rem;
    }
    .image_box{
        height: 250px;
    }
    .container > p{
        font-size: 12px;
    }
}
footer{
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    margin-bottom: 50px;
}